/*  grey Header   */

.app-header-container {
    background-color: grey;
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
    justify-content: space-between;
}

.fastfood-icon-container {
    float: left;
}

.search-icon-container {
    position: 'relative';
    display: 'inline-block';
}

.search-icon {
    padding: 0 7px;
    align-self: center;
}


/*  login button to float right  */

.login-button-container {
    float: right;
}


/*  account circle icon having a padding on right   */

.accountCircle-logo {
    padding-right: 6%;
}